services:
  bngblaster:
    build:
      context: ../../test-infra
      dockerfile: Dockerfile.bngblaster
    container_name: bng-blaster
    cap_add:
      - NET_ADMIN
    networks:
      b-access:
    volumes:
      - ../../test-infra/bngblaster:/config
    stdin_open: true
    tty: true

  osvbng:
    build:
      context: ../..
      dockerfile: docker/dev/Dockerfile
    container_name: osvbng
    privileged: true
    cpuset: "0-7"
    environment:
      - OSVBNG_ACCESS_INTERFACE=eth1
    networks:
      a-mgmt:
        priority: 1000
      b-access:
        priority: 900
      c-core:
        priority: 800
    volumes:
      - /sys/kernel/debug:/sys/kernel/debug:ro
      - /dev/hugepages:/dev/hugepages
      # - ../../test-infra/configs/dataplane.conf:/etc/osvbng/dataplane.conf:ro
      # - ../../test-infra/configs/osvbng.yaml:/etc/osvbng/osvbng.yaml:ro
      - bng-config-versions:/var/lib/osvbng/config-versions
      - ../../bin/osvbngd:/usr/local/bin/osvbngd:ro
      - ../../bin/osvbngcli:/usr/local/bin/osvbngcli:ro
      - ../../templates:/usr/share/osvbng/templates:ro
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - IPC_LOCK
      - SYS_NICE
      - SYS_RAWIO
    ulimits:
      memlock:
        soft: -1
        hard: -1
    shm_size: 2g
    ports:
      - 50050:50050
      - 9090:9090
      - 8080:8080

volumes:
  bng-config-versions:

networks:
  a-mgmt:
    driver: bridge
  b-access:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: bng-access
  c-core:
    driver: bridge
