services:
  bngblaster:
    build:
      context: .
      dockerfile: Dockerfile.bngblaster
    container_name: bng-blaster
    cap_add:
      - NET_ADMIN
    network_mode: none
    volumes:
      - ./bngblaster:/config
    stdin_open: true
    tty: true

  osvbng:
    build:
      context: ../..
      dockerfile: docker/dev/Dockerfile
    container_name: osvbng
    extra_hosts:
      - "host.docker.internal:host-gateway"
    privileged: true
    cpuset: "0-7"
    sysctls:
      - net.unix.max_dgram_qlen=10000
    environment:
      - OSVBNG_ACCESS_INTERFACES=1
      - OSVBNG_LOG_LEVEL=info
    network_mode: none
    volumes:
      - /sys/kernel/debug:/sys/kernel/debug:ro
      - /dev/hugepages:/dev/hugepages
      # - ./dataplane.conf:/etc/osvbng/dataplane.conf:ro
      - ./osvbng.yaml:/etc/osvbng/osvbng.yaml:ro
      - bng-config-versions:/var/lib/osvbng/config-versions
      - ../../bin/osvbngd:/usr/local/bin/osvbngd:ro
      - ../../bin/osvbngcli:/usr/local/bin/osvbngcli:ro
      - ../../templates:/usr/share/osvbng/templates:ro
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - IPC_LOCK
      - SYS_NICE
      - SYS_RAWIO
    ulimits:
      memlock:
        soft: -1
        hard: -1
    shm_size: 2g
    # Ports accessible via management IP (172.30.0.2): 8080, 9090, 50050

  frr-peer:
    build:
      context: .
      dockerfile: Dockerfile.frr-peer
    container_name: frr-peer
    privileged: true
    network_mode: none
    stdin_open: true
    tty: true

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    network_mode: host

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - 3000:3000
    depends_on:
      - prometheus

volumes:
  bng-config-versions:
  prometheus-data:
  grafana-data:

