{{ define "bgp" }}
{{ if .Protocols }}
{{ if .Protocols.BGP }}
{{ if .Protocols.BGP.ASN }}
router bgp {{ .Protocols.BGP.ASN }}
 no bgp default ipv4-unicast
{{ if .Protocols.BGP.RouterID }}
 bgp router-id {{ .Protocols.BGP.RouterID }}
{{ end }}
!
{{ range $name, $peerGroup := .Protocols.BGP.PeerGroups }}
 neighbor {{ $name }} peer-group
{{ if $peerGroup.RemoteAS }}
 neighbor {{ $name }} remote-as {{ $peerGroup.RemoteAS }}
{{ end }}
{{ end }}
!
{{ range $addr, $neighbor := .Protocols.BGP.Neighbors }}
{{ if $neighbor.PeerGroup }}
 neighbor {{ $addr }} peer-group {{ $neighbor.PeerGroup }}
{{ end }}
{{ if $neighbor.RemoteAS }}
 neighbor {{ $addr }} remote-as {{ $neighbor.RemoteAS }}
{{ end }}
{{ if $neighbor.Peer }}
 neighbor {{ $addr }} update-source {{ $neighbor.Peer }}
{{ end }}
{{ if $neighbor.BFD }}
 neighbor {{ $addr }} bfd
{{ end }}
{{ if $neighbor.Description }}
 neighbor {{ $addr }} description {{ $neighbor.Description }}
{{ end }}
{{ end }}
!
{{ if .Protocols.BGP.IPv4Unicast }}
 address-family ipv4 unicast
{{ range $name, $peerGroup := $.Protocols.BGP.PeerGroups }}
  neighbor {{ $name }} activate
{{ if $peerGroup.IPv4Unicast }}
{{ if $peerGroup.IPv4Unicast.NextHopSelf }}
  neighbor {{ $name }} next-hop-self
{{ end }}
{{ if $peerGroup.IPv4Unicast.SendCommunity }}
  neighbor {{ $name }} send-community {{ $peerGroup.IPv4Unicast.SendCommunity }}
{{ end }}
{{ if $peerGroup.IPv4Unicast.RouteMapIn }}
  neighbor {{ $name }} route-map {{ $peerGroup.IPv4Unicast.RouteMapIn }} in
{{ end }}
{{ if $peerGroup.IPv4Unicast.RouteMapOut }}
  neighbor {{ $name }} route-map {{ $peerGroup.IPv4Unicast.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $addr, $neighbor := $.Protocols.BGP.Neighbors }}
  neighbor {{ $addr }} activate
{{ if $neighbor.IPv4Unicast }}
{{ if $neighbor.IPv4Unicast.NextHopSelf }}
  neighbor {{ $addr }} next-hop-self
{{ end }}
{{ if $neighbor.IPv4Unicast.SendCommunity }}
  neighbor {{ $addr }} send-community {{ $neighbor.IPv4Unicast.SendCommunity }}
{{ end }}
{{ if $neighbor.IPv4Unicast.RouteMapIn }}
  neighbor {{ $addr }} route-map {{ $neighbor.IPv4Unicast.RouteMapIn }} in
{{ end }}
{{ if $neighbor.IPv4Unicast.RouteMapOut }}
  neighbor {{ $addr }} route-map {{ $neighbor.IPv4Unicast.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $network, $config := .Protocols.BGP.IPv4Unicast.Networks }}
  network {{ $network }}{{ if $config.RouteMap }} route-map {{ $config.RouteMap }}{{ end }}
{{ end }}
{{ if .Protocols.BGP.IPv4Unicast.Redistribute }}
{{ if .Protocols.BGP.IPv4Unicast.Redistribute.Connected }}
  redistribute connected
{{ end }}
{{ if .Protocols.BGP.IPv4Unicast.Redistribute.Static }}
  redistribute static
{{ end }}
{{ end }}
 exit-address-family
!
{{ end }}
{{ if .Protocols.BGP.IPv6Unicast }}
 address-family ipv6 unicast
{{ range $name, $peerGroup := $.Protocols.BGP.PeerGroups }}
  neighbor {{ $name }} activate
{{ if $peerGroup.IPv6Unicast }}
{{ if $peerGroup.IPv6Unicast.NextHopSelf }}
  neighbor {{ $name }} next-hop-self
{{ end }}
{{ if $peerGroup.IPv6Unicast.SendCommunity }}
  neighbor {{ $name }} send-community {{ $peerGroup.IPv6Unicast.SendCommunity }}
{{ end }}
{{ if $peerGroup.IPv6Unicast.RouteMapIn }}
  neighbor {{ $name }} route-map {{ $peerGroup.IPv6Unicast.RouteMapIn }} in
{{ end }}
{{ if $peerGroup.IPv6Unicast.RouteMapOut }}
  neighbor {{ $name }} route-map {{ $peerGroup.IPv6Unicast.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $addr, $neighbor := $.Protocols.BGP.Neighbors }}
  neighbor {{ $addr }} activate
{{ if $neighbor.IPv6Unicast }}
{{ if $neighbor.IPv6Unicast.NextHopSelf }}
  neighbor {{ $addr }} next-hop-self
{{ end }}
{{ if $neighbor.IPv6Unicast.SendCommunity }}
  neighbor {{ $addr }} send-community {{ $neighbor.IPv6Unicast.SendCommunity }}
{{ end }}
{{ if $neighbor.IPv6Unicast.RouteMapIn }}
  neighbor {{ $addr }} route-map {{ $neighbor.IPv6Unicast.RouteMapIn }} in
{{ end }}
{{ if $neighbor.IPv6Unicast.RouteMapOut }}
  neighbor {{ $addr }} route-map {{ $neighbor.IPv6Unicast.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $network, $config := .Protocols.BGP.IPv6Unicast.Networks }}
  network {{ $network }}{{ if $config.RouteMap }} route-map {{ $config.RouteMap }}{{ end }}
{{ end }}
{{ if .Protocols.BGP.IPv6Unicast.Redistribute }}
{{ if .Protocols.BGP.IPv6Unicast.Redistribute.Connected }}
  redistribute connected
{{ end }}
{{ if .Protocols.BGP.IPv6Unicast.Redistribute.Static }}
  redistribute static
{{ end }}
{{ end }}
 exit-address-family
!
{{ end }}
{{ if .Protocols.BGP.IPv4VPN }}
 address-family ipv4 vpn
{{ range $addr, $neighbor := $.Protocols.BGP.Neighbors }}
{{ if (index $.Protocols.BGP.IPv4VPN.Neighbors $addr) }}
  neighbor {{ $addr }} activate
{{ $nCfg := index $.Protocols.BGP.IPv4VPN.Neighbors $addr }}
{{ if $nCfg.NextHopSelf }}
  neighbor {{ $addr }} next-hop-self
{{ end }}
{{ if $nCfg.SendCommunity }}
  neighbor {{ $addr }} send-community {{ $nCfg.SendCommunity }}
{{ end }}
{{ if $nCfg.RouteMapIn }}
  neighbor {{ $addr }} route-map {{ $nCfg.RouteMapIn }} in
{{ end }}
{{ if $nCfg.RouteMapOut }}
  neighbor {{ $addr }} route-map {{ $nCfg.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $name, $peerGroup := $.Protocols.BGP.PeerGroups }}
{{ if (index $.Protocols.BGP.IPv4VPN.Neighbors $name) }}
  neighbor {{ $name }} activate
{{ $pgCfg := index $.Protocols.BGP.IPv4VPN.Neighbors $name }}
{{ if $pgCfg.SendCommunity }}
  neighbor {{ $name }} send-community {{ $pgCfg.SendCommunity }}
{{ end }}
{{ end }}
{{ end }}
 exit-address-family
!
{{ end }}
{{ if .Protocols.BGP.IPv6VPN }}
 address-family ipv6 vpn
{{ range $addr, $neighbor := $.Protocols.BGP.Neighbors }}
{{ if (index $.Protocols.BGP.IPv6VPN.Neighbors $addr) }}
  neighbor {{ $addr }} activate
{{ $nCfg := index $.Protocols.BGP.IPv6VPN.Neighbors $addr }}
{{ if $nCfg.NextHopSelf }}
  neighbor {{ $addr }} next-hop-self
{{ end }}
{{ if $nCfg.SendCommunity }}
  neighbor {{ $addr }} send-community {{ $nCfg.SendCommunity }}
{{ end }}
{{ if $nCfg.RouteMapIn }}
  neighbor {{ $addr }} route-map {{ $nCfg.RouteMapIn }} in
{{ end }}
{{ if $nCfg.RouteMapOut }}
  neighbor {{ $addr }} route-map {{ $nCfg.RouteMapOut }} out
{{ end }}
{{ end }}
{{ end }}
{{ range $name, $peerGroup := $.Protocols.BGP.PeerGroups }}
{{ if (index $.Protocols.BGP.IPv6VPN.Neighbors $name) }}
  neighbor {{ $name }} activate
{{ $pgCfg := index $.Protocols.BGP.IPv6VPN.Neighbors $name }}
{{ if $pgCfg.SendCommunity }}
  neighbor {{ $name }} send-community {{ $pgCfg.SendCommunity }}
{{ end }}
{{ end }}
{{ end }}
 exit-address-family
!
{{ end }}
exit
!
{{ range $vrfName, $vrfConfig := .Protocols.BGP.VRF }}
router bgp {{ $.Protocols.BGP.ASN }} vrf {{ $vrfName }}
{{ if $vrfConfig.RouterID }}
 bgp router-id {{ $vrfConfig.RouterID }}
{{ end }}
!
{{ if $vrfConfig.IPv4Unicast }}
 address-family ipv4 unicast
{{ range $addr, $neighbor := $vrfConfig.IPv4Unicast.Neighbors }}
  neighbor {{ $addr }} remote-as {{ $neighbor.RemoteAS }}
{{ if $neighbor.Description }}
  neighbor {{ $addr }} description {{ $neighbor.Description }}
{{ end }}
{{ end }}
{{ range $network, $config := $vrfConfig.IPv4Unicast.Networks }}
  network {{ $network }}{{ if $config.RouteMap }} route-map {{ $config.RouteMap }}{{ end }}
{{ end }}
{{ if $vrfConfig.IPv4Unicast.Redistribute }}
{{ if $vrfConfig.IPv4Unicast.Redistribute.Connected }}
  redistribute connected
{{ end }}
{{ if $vrfConfig.IPv4Unicast.Redistribute.Static }}
  redistribute static
{{ end }}
{{ end }}
{{ $vrf := index $.VRFS $vrfName }}
{{ if $vrf }}
{{ if $vrf.RouteDistinguisher }}
  rd vpn export {{ $vrf.RouteDistinguisher }}
{{ end }}
{{ range $rt := $vrf.ImportRouteTargets }}
  rt vpn import {{ $rt }}
{{ end }}
{{ range $rt := $vrf.ExportRouteTargets }}
  rt vpn export {{ $rt }}
{{ end }}
{{ end }}
{{ if $vrfConfig.IPv4Unicast.LabelVPN }}
  label vpn export {{ $vrfConfig.IPv4Unicast.LabelVPN }}
{{ end }}
{{ if $vrfConfig.IPv4Unicast.ExportVPN }}
  export vpn
{{ end }}
{{ if $vrfConfig.IPv4Unicast.ImportVPN }}
  import vpn
{{ end }}
 exit-address-family
!
{{ end }}
{{ if $vrfConfig.IPv6Unicast }}
 address-family ipv6 unicast
{{ range $addr, $neighbor := $vrfConfig.IPv6Unicast.Neighbors }}
  neighbor {{ $addr }} remote-as {{ $neighbor.RemoteAS }}
{{ if $neighbor.Description }}
  neighbor {{ $addr }} description {{ $neighbor.Description }}
{{ end }}
{{ end }}
{{ range $network, $config := $vrfConfig.IPv6Unicast.Networks }}
  network {{ $network }}{{ if $config.RouteMap }} route-map {{ $config.RouteMap }}{{ end }}
{{ end }}
{{ if $vrfConfig.IPv6Unicast.Redistribute }}
{{ if $vrfConfig.IPv6Unicast.Redistribute.Connected }}
  redistribute connected
{{ end }}
{{ if $vrfConfig.IPv6Unicast.Redistribute.Static }}
  redistribute static
{{ end }}
{{ end }}
{{ $vrf := index $.VRFS $vrfName }}
{{ if $vrf }}
{{ if $vrf.RouteDistinguisher }}
  rd vpn export {{ $vrf.RouteDistinguisher }}
{{ end }}
{{ range $rt := $vrf.ImportRouteTargets }}
  rt vpn import {{ $rt }}
{{ end }}
{{ range $rt := $vrf.ExportRouteTargets }}
  rt vpn export {{ $rt }}
{{ end }}
{{ end }}
{{ if $vrfConfig.IPv6Unicast.LabelVPN }}
  label vpn export {{ $vrfConfig.IPv6Unicast.LabelVPN }}
{{ end }}
{{ if $vrfConfig.IPv6Unicast.ExportVPN }}
  export vpn
{{ end }}
{{ if $vrfConfig.IPv6Unicast.ImportVPN }}
  import vpn
{{ end }}
 exit-address-family
!
{{ end }}
exit
!
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
