{{- if .Values.bngblaster.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: bngblaster-config
data:
  multiple-multi-qinq.json: |
    {
      "interfaces": {
        "access": [
          {
            "interface": {{ .Values.bngblaster.accessInterface | quote }},
            "type": "ipoe",
            "vlan-mode": "1:1",
            "outer-vlan-min": 100,
            "outer-vlan-max": 100,
            "inner-vlan-min": 100,
            "inner-vlan-max": 109
          }
        ]
      },
      "sessions": {
        "count": 10,
        "max-outstanding": 10,
        "start-rate": 10,
        "stop-rate": 10,
        "autostart": true
      },
      "dhcp": {
        "enable": true
      },
      "dhcpv6": {
        "enable": false
      },
      "ipoe": {
        "ipv6": false
      },
      "access-line": {
        "agent-circuit-id": "eth 0/1/2/3/{session-global}:100.{session-global}",
        "agent-remote-id": "DSLAM-{session-global}"
      }
    }
  multiple-shared-svlan.json: |
    {
      "interfaces": {
        "access": [
          {
            "interface": {{ .Values.bngblaster.accessInterface | quote }},
            "type": "ipoe",
            "vlan-mode": "N:1",
            "outer-vlan-min": 100,
            "outer-vlan-max": 100
          }
        ]
      },
      "sessions": {
        "count": 1,
        "autostart": true,
        "start-rate": 100,
        "stop-rate": 200,
        "max-outstanding": 500
      },
      "dhcp": {
        "enable": true
      },
      "dhcpv6": {
        "enable": false
      },
      "ipoe": {
        "ipv6": false
      },
      "access-line": {
        "agent-circuit-id": "eth 0/1/2/3/{session-global}:100.{session-global}",
        "agent-remote-id": "DSLAM-{session-global}"
      },
      "session-traffic": {
        "ipv4-pps": 100
      }
    }  
{{- end }}                      