dataplane:
  access_interface: host-eth0
  dp_api_socket: /run/osvbng/dataplane_api.sock
  punt_socket_path: /run/osvbng/punt.sock
  memif_socket_path: /run/osvbng/memif.sock

subscriber_group:
  default_policy: dhcp-policy-a
  vlans:
    - svlan: 100
      cvlan: "any"
      interface: loop100

interfaces:
  eth0:
    description: "Access Interface"
    enabled: true
  eth1:
    description: "Core Interface"
    enabled: true
    lcp: true
  loop100:
    description: "Subscriber Gateway Loopbackee"
    enabled: true
    lcp: true
    address:
      ipv4:
        - 10.1.0.2/32
      ipv6:
        - 2001:db8:1::1/128

dhcp:
  provider: "local"
  pools:
    - name: subscriber-pool
      network: "10.1.0.0/16"
      range_start: "10.1.0.10"
      range_end: "10.1.255.254"
      gateway: "10.1.0.2"
      dns_servers:
        - "8.8.8.8"
        - "8.8.4.4"
      lease_time: 3600

protocols:
  bgp:
    asn: 214457
    router-id: "10.1.0.2"
  static:
    ipv4:
      - destination: 10.1.0.0/16
        device: loop100
    ipv6:
      - destination: 2001:db8:1::/64
        device: loop100

aaa:
  provider: "local"
  nas_identifier: "osvbng"
  policy:
    - name: dhcp-policy-a
      format: "$remote-id$"
      type: dhcp

logging:
  format: text
  level: debug
  components:
    ipoed: debug
    aaad: debug
    dhcprd: debug
    dpd: debug
    subd: debug
    arpd: debug

monitoring:
  disabled_collectors:
    # - subscriber.sessions
    - aaa.radius.servers
    # - protocols.bgp.statistics
    # - protocols.bgp.ipv6.statistics
    # - example.hello.status

plugins:
  subscriber.auth.local:
    database_path: /tmp/osvbng.db
  exporter.prometheus:
    enabled: true
    listen_address: ":9090"
  northbound.api:
    enabled: true
    listen_address: ":8080"
  example.hello:
    enabled: true
    message: "This message is displayed via a `show` handler. It can be changed with a `conf` handler and will persist after a config commit."