log syslog informational
service integrated-vtysh-config
ip forwarding
ipv6 forwarding
!
{{ template "bgp" . }}
{{ template "ospf" . }}
{{ template "ospf6" . }}
{{ template "isis" . }}
{{ template "static" . }}
line vty
!
